<section class="vh-100" style="background-color: #faf8f8;">
    <div class="container py-2 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0" style="margin-left: 200px;">
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form>
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                        <div class="form-outline mb-4">
                            <input type="email" id="form2Name" class="form-control form-control-lg" />
                            <label class="form-label" for="form2Name">Name</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="email" id="form2Email" class="form-control form-control-lg" />
                            <label class="form-label" for="form2Email">Email address</label>
                        </div>
    
                        <div class="form-outline mb-4">
                        <input type="password" id="form2Example27" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example27">Password</label>
                        </div>
    
                        <div class="pt-1 mb-4">
                        <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                        </div>
    
                        <a class="small text-muted" href="#!">Forgot password?</a>
                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="./login"
                            style="color: #393f81;">Login here</a></p>
                        <a href="#!" class="small text-muted">Terms of use.</a>
                        <a href="#!" class="small text-muted">Privacy policy</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>