<section class="hero">
  <div class="container  flex item-center justify-between">
    <div  class="row">
      <div class="col-md-6">
          <h6 style="margin-top: 20%;"><em>Are you hungry?</em></h6>
          <h1>Don't wait!</h1>
          <button class="order_now">Order Now</button>
      </div>
      <div class="col-md-6">
        <img src="/img/hero-pizza.png" alt="" style="width: 700px;margin-left: 8%;">
      </div>
    </div>
  </div>
</section>
<section class="container">
  <h1>All Pizza</h1>
  <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="img/pizza.png" alt="Denim Jeans" style="width:50%;margin-left: 24%;">
          <h4>Tailored Jeans</h4>
          <p class="price">$19.99</p>
          <p></p>
          <p><button>Add to Cart</button></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="img/pizza.png" alt="Denim Jeans" style="width:50%;margin-left: 24%;">
          <h4>Tailored Jeans</h4>
          <p class="price">$19.99</p>
          <p></p>
          <p><button>Add to Cart</button></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="img/pizza.png" alt="Denim Jeans" style="width:50%;margin-left: 24%;">
          <h4>Tailored Jeans</h4>
          <p class="price">$19.99</p>
          <p></p>
          <p><button>Add to Cart</button></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="img/pizza.png" alt="Denim Jeans" style="width:50%;margin-left: 24%;">
          <h4>Tailored Jeans</h4>
          <p class="price">$19.99</p>
          <p></p>
          <p><button>Add to Cart</button></p>
        </div>
      </div>
  </div>
  
</section>